@use 'sass:color';
@use './variables' as *;

.header-bg {
  background: linear-gradient(
    145deg,
    color.mix($azul-escuro, #000000, 95%) 0%,
    $azul-escuro 100%
  );
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;

  .header {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: relative;

    .logo {
      font-weight: 800;
      font-size: 1.8rem;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: transform 0.3s ease;
      max-width: 220px;

      svg {
        height: 80px;
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    .menu-toggle {
      display: none;
    }

    nav {
      color: $branco-fundo;
      ul {
        list-style: none;
        display: flex;
        li {
          margin: 0 15px;
          a {
            font-size: 18px;
            padding: 10px;
          }
        }
      }
    }
  }

  // Responsividade
  @media (max-width: 993px) {
    .header {
      height: 70px;
      padding: 0 1.5rem;

      .logo {
        font-size: 1.6rem;
      }
    }
  }
}
